<h3>Plus d'informations sur le potin que vous avez sélectionné :</h3>


<br>
<p>Titre : <%= @gossip.title %></p>
<p>Contenu : <%= @gossip.content %></p>
<p>Auteur : <%= @gossip.user.first_name %></p>
<p>Ville de l'auteur : <%= @gossip.user.city.name %></p>
<br>

<p>Commentaires :</p>

<%= Comment.where(gossip_id:@gossip.id).each do |comment| %>

<p><%= comment.content  %></p>

<%= end %>

<p>Poster un commentaire en rapport avec ce potin :</p>

<%= form_tag(comments_path, method: "post") do %>
	<%= label_tag(:content, "Votre commentaire :") %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("Valider") %>
<%= end %>

<p>   <%= link_to "En savoir plus", user_path(@gossip.user.id)%> sur l'auteur de ce potin</p>

<p>   <%= link_to "En savoir plus", city_path(@gossip.user.city.id)%> sur la ville de l'auteur de ce potin</p>

<p>//</p>

<p>Vous pouvez également <%= link_to "modifier", edit_gossip_path(@gossip.id)%> ce potin.</p>

<p>Ou alors, si le coeur vous en dit, vous pouvez même <%= link_to "le supprimer", gossip_path(@gossip.id), method: "delete"%>.</p>
