<h1>Page de modification d'un potin existant</h1>
<br>
<div class="alert alert-success" role="alert">
  Félicitations ! Votre potin a bien été modifié dans notre base de données.
</div>

<p>Vous pouvez retourner sur la page d'accueil en <%= link_to "cliquant ici", gossips_path%>.</p>
